.newslist {
  list-style-type: none;
  padding: 0;
  background-color: rgb(246,246,239);
  min-height: 100vh;
  max-width: 1850px;
}

.newsitem {
  display: flex;
  align-items: flex-start;
  padding: 5px 0;
}

.rank {
  width: 30px;
  text-align: right;
  padding-right: 10px;
  font-size: 14px;
  color: #828282;
}

.vote a {
  text-decoration: none;
  color: #828282;
  font-size: 14px;
  margin-right: 10px;
}

.details {
  font-size: 14px;
}

.details .title {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.details .source {
  color: #828282;
}

.subtext {
  color: #828282;
  font-size: 12px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .newsitem {
    flex-direction: column;
    align-items: flex-start;
  }

  .rank, .vote {
    width: auto;
    text-align: left;
    padding-right: 0;
  }

  .vote {
    margin-bottom: 5px;
  }

  .details {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .container {
    width: 95%;
  }
}